@font-face{
    font-family:SummerSunshine;
    src: url(../fonts/KGSummerSunshineBlackout.tff);
}
html {
    background: #111111;
    height: 100%;
    background: linear-gradient( #333, #000);
}
iframe {
    display: none;
}
video, img, #startbutton {
    display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;

}
#count_num{
    font-family: SummerSunshine;
    vertical-align: middle;
    color: red;
}
#startbutton {
    background: blue;
    border: none;
    color: #fff;
    margin: 100px 20px 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
}
#container {
    overflow: hidden;
    width: 880px;
    margin: 20px auto;
}
#video{
    height: 560px;
    width:750px;
    border-radius: 10px;
}


